<!--
@author Marty Vo
@email marty.vo@abcam.com
@create date 2020-01-22 16:16:47
@modify date 2020-01-22 16:16:47
@desc HTML for message system
-->

<div class="nav"><h4>FP Message Server</h4></div>

<div class="main">
    <h3>
        <div class="routes">
        <button mat-raised-button id="http" onclick="location.href='http://localhost:4200/requests'" type="button"> Post/Get Message Request</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
        <button mat-raised-button id="http" onclick="location.href='http://localhost:4200/messages'" type="button"> Go to Message Log</button>
    </div>
    </h3>
</div>

<router-outlet></router-outlet>